 @if (User.IsInRole("Admin")){
<section class="content-header">
    <div class="row pnl-page-detail-action">

        <div class="col-md-12">
       
            <h1>
                <a >
                    <input type="button" value="Download Full Dump" class="btn btn-primary" ng-click="downloadFullDump()"></a> 
                 
              </h1>

        </div>
 
    </div>
</section>
 
}
