<!-- Content Header (Page header) -->
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <script src="~/Scripts/angular1.2.9/angular-1.2.9.js"></script>
    <script src="~/Scripts/angular1.2.9/angular-mobile.js"></script>
    <script src="~/Scripts/angular1.2.9/angular-animate-1.2.9.js"></script>
    <script src="~/Scripts/angular1.2.9/angular-route.js"></script>
    <script src="~/Scripts/angular1.2.9/angular-touch.js"></script>
    <script src="~/Scripts/angular1.2.9/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
   <script src="~/Content/bootstrap/js/bootstrap.js"></script>
   
 <script src="~/Scripts/App/ActivityCtrl.js"></script>
 
 
    @*<script src="~/Scripts/ngCodes/app.js"></script>*@
<script src="~/Scripts/ngCodes/DashboardSearch.js"></script>
   
   <script src="~/plugins/datatables/jquery.form.js"></script>
<script src="~/Scripts/ngCodes/app.js"></script>

<script src="https://www.gstatic.com/charts/loader.js"></script>

<script src="http://code.highcharts.com/highcharts.js"></script>

<script src="http://code.highcharts.com/modules/exporting.js"></script>

  

<div ng-view=""></div>

