<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="enableSimpleMembership" value="false" />
    <add key="EnableOTP" value="false" />
    <add key="custConString"  value="server=192.168.1.105;database=WSS_SAP_Stg1;uid=dealer_user;password=dealer@123;"   />
    <!--<add key="custConString" value="server=192.168.1.52\logic;database=WSS_SAP_Stg1;uid=dealer_user;password=dealer@123;"  />-->

  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <location path="content">
    <system.web>
      
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp  from="asfbtlsystem@pidilite.com">
        <network host="192.168.1.246" port="25"/>

      </smtp>
    </mailSettings>
  </system.net>

  <location path="scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.web>
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/Error.html">
      <error statusCode="403" redirect="~/Error.html"/>
      <error statusCode="404" redirect="~/Error.html"/>
      <error statusCode="500" redirect="~/Error.html"/>
    </customErrors>
    
    <roleManager enabled="true" defaultProvider="SimpleRoleProvider">
      <providers>
        <clear />
        <add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
      </providers>
    </roleManager>
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>

    <authentication mode="Forms">
      <forms loginUrl="/account/login" timeout="300"></forms>
      <!--
      <forms loginUrl="/account/login?wa=wsignin1.0&amp;wtrealm=http%3a%2f%2flocalhost%3a8052%2f&amp;wctx=rm%3d0%26id%3dpassive%26ru%3d%252f&amp;wct=2014-08-07T08%3a46%3a06Z" timeout="2">
     </forms>
     -->
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>

    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" enableVersionHeader="false" />
    <httpCookies httpOnlyCookies="true"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="CustomServerModule" type="TeckraftASPNetServer.Web.CustomServerModule, TeckraftASPNetServer" />-->

    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
   
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <remove name="X-AspNetMvc-Version" />
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="false"/>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <error statusCode="403" prefixLanguageFilePath="" path="/Error.html" responseMode="ExecuteURL"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/Error.html" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>

    <!--<add name="DefaultConnection" connectionString="Data Source=172.168.1.95,62502; Initial Catalog=pilcrs;User Id=sa; Password=winworld@1;Integrated Security=false;" providerName="System.Data.SqlClient" />
    <add name="InitiativeHubFinalEntities" connectionString="metadata=res://*/Sql.PESModel.csdl|res://*/Sql.PESModel.ssdl|res://*/Sql.PESModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.168.1.95,62502;initial catalog=PILCRS;persist security info=True;user id=sa;password=winworld@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="OTPConnectionString" connectionString="Data Source=192.168.1.105; Initial Catalog=OTP;User Id=otp; Password=otp@123;Integrated Security=false;" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.52\logic; Initial Catalog=DealerFeedback;User Id=dealer_user; Password=dealer@123;Integrated Security=false;" providerName="System.Data.SqlClient" />
    <add name="strCon" connectionString="Data Source=192.168.1.52\logic; Initial Catalog=WSS_SAP_Stg1;User Id=dealer_user; Password=dealer@123;Integrated Security=false;" providerName="System.Data.SqlClient" />
    <add name="strConSSO" connectionString="Data Source=192.168.1.52\logic; Initial Catalog=PILSSODEC;User Id=dealer_user; Password=dealer@123;Integrated Security=false;" providerName="System.Data.SqlClient" />-->
    
    <!--<add name="DefaultConnection" connectionString="Data Source=tipl-lap-08; Initial Catalog=pilcrs;User I=sa; Password=winworld@1;Integrated Security=false;" providerName="System.Data.SqlClient" />
    <add name="InitiativeHubFinalEntities" connectionString="metadata=res://*/Sql.PESModel.csdl|res://*/Sql.PESModel.ssdl|res://*/Sql.PESModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tipl-lap-08;initial catalog=PILCRS;persist security info=True;user id=sa;password=winworld@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="DefaultConnection" connectionString="Data Source=192.168.1.52\logic; Initial Catalog=IntegratedIssueManagementSystem;User Id=IM_user; Password=IM@123;Integrated Security=false;" providerName="System.Data.SqlClient" />
    <add name="InitiativeHubFinalEntities" connectionString="metadata=res://*/Sql.PESModel.csdl|res://*/Sql.PESModel.ssdl|res://*/Sql.PESModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.52\logic;initial catalog=IntegratedIssueManagementSystem;persist security info=True;user id=IM_user; password=IM@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=192.168.1.105; Initial Catalog=IntegratedIssueManagementSystem;User Id=im_user; Password=im@123;Integrated Security=false;" providerName="System.Data.SqlClient" />
    <add name="InitiativeHubFinalEntities" connectionString="metadata=res://*/Sql.PESModel.csdl|res://*/Sql.PESModel.ssdl|res://*/Sql.PESModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.105;initial catalog=IntegratedIssueManagementSystem;persist security info=True;user id=im_user; password=im@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="OTPEntities1" connectionString="metadata=res://*/Models.OTP.OtpModels.csdl|res://*/Models.OTP.OtpModels.ssdl|res://*/Models.OTP.OtpModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv172\logic;initial catalog=OTP_Test;persist security info=True;user id=otp;password=otp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OTPEntities" connectionString="metadata=res://*/Models.OTP.OTPModel.csdl|res://*/Models.OTP.OTPModel.ssdl|res://*/Models.OTP.OTPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv172\logic;initial catalog=OTP_Test;persist security info=True;user id=otp;password=otp@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPILCRWorkflowService" maxBufferPoolSize="524288"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="WebServiceSoap" />
        <binding name="BasicHttpBinding_IWFInstanceService" />
        <binding name="BasicHttpBinding_ICRCustomWFService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost:57395/CRWorkflowService.xamlx"
        behaviorConfiguration="ServiceBehaviour" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPILCRWorkflowService"
        contract="CrWorkflowServices.IPILCRWorkflowService" name="BasicHttpBinding_IPILCRWorkflowService" />-->
      <!--<endpoint address="http://192.168.1.52:108/otp/webservice.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebServiceSoap" contract="TestOTPWebService.WebServiceSoap"
        name="WebServiceSoap" />-->

      <endpoint address="http://192.168.1.51/otp/webservice.asmx" binding="basicHttpBinding"
     bindingConfiguration="WebServiceSoap" contract="TestOTPWebService.WebServiceSoap"
     name="WebServiceSoap" />
      
      <endpoint address="http://localhost:50402/CRCustomWFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICRCustomWFService"
        contract="CRCustomWorkflowServices.ICRCustomWFService" name="BasicHttpBinding_ICRCustomWFService" />
    </client>
  </system.serviceModel>
  <location path="account/generateotp">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="account/loginnew">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      
    </system.web>
  </location>
</configuration>